$grey: #BCC3CA;
$dark-grey: #3B4256;
$light-grey: #F5F5F7;
$transparent-grey: rgba(59, 66, 86, 0.5);
$light-transparent-grey: #848E99;
$lighter-grey:  #F4F7FB;
$white: #FFFFFF;
$blue: #0061D9;
$dark-blue: #0050B2;
$light-blue: #3684E2;
$lighter-blue: rgba(0, 80, 178, 0.5);
$green: #1BC400;
$light-yellow: #FFF5E6;
$yellow: #FF9500;
$whole-content-width: 78%;
$whole-content-width-mobile: 90%;
$main-content-width: 68%;
$form-content-width: 61%;
$form-content-width-mobile: 90%;
$form-submitted-width: 71%;
$form-margin: 11%;
$form-li-margin: 4.5%;
$series-input: 35%;
$number-input: 57%;
$short-input: 26%;
$average-input: 39%;
$max-width: 1440;