$grey: #BCC3CA;
$dark-grey: #3B4256;
$light-grey:  #F4F7FB;;
$white: #FFFFFF;
$blue: #0061D9;
$light-blue: #3684E2;
$green: #1BC400;
$light-yellow: #FFF5E6;
$yellow: #FF9500;
$whole-content-width: 78%;
$main-content-width: 66%;
$max-width: 1440;